* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; */
  background-color: #d6d7db;
}

#root {
  height: 100%;
  /* position: relative;
  z-index: 2; */
}

.container-big {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto
}

.inner {
  width: 100%;
  margin: 0 auto;
}